.container {
  max-width: 900px;
}

.card-header {
    color: white;
  background-color: #55d6c2;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

ul.list-group.ps-4 {
  padding-left: 2rem;
}

.list-group-item {
  transition: background-color 0.2s ease;
}

.list-group-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
